.stars {
  display: flex;
  margin: 0;
  padding: 0;

  &__star {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--1 &__star:nth-child(1),
  &--2 &__star:nth-child(1),
  &--2 &__star:nth-child(2),
  &--3 &__star:nth-child(1),
  &--3 &__star:nth-child(2),
  &--3 &__star:nth-child(3),
  &--4 &__star:nth-child(1),
  &--4 &__star:nth-child(2),
  &--4 &__star:nth-child(3),
  &--4 &__star:nth-child(4),
  &--5 &__star:nth-child(1),
  &--5 &__star:nth-child(2),
  &--5 &__star:nth-child(3),
  &--5 &__star:nth-child(4),
  &--5 &__star:nth-child(5) {
    background-image: url('../images/star-active.svg');
  }
}
